/* Resetting browser */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    font-weight: var(--base-font-light-weight);
}

main {
    background: url('../../img/stripes.png') var(--color-malachite) no-repeat;
    background-attachment: fixed;
    background-size: 125%;
    padding: 2vh 3vw;
}

section {
    width: 80vw;
    margin: auto;
}

h1 {
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
}