 :root {
    /* Default colors */
    --color-malachite: #0EB159;
    --color-pixie-green: #aed2ab;
    --color-willow-brook: #dcecdc;
  
    /* Typography */
    --base-font-family: 'Open sans', 'Calibri', 'sans-serif';
    --base-font-size: 1.2em;
    --base-font-light-weight: 300;
    --base-font-regular-weight: 500;
    --heading-font-weight: 700;
    --heading-font-size: 2em;
  }
  