 :root {
    /* Default colors */
    /* Green program colors - saturdays */
    --color-malachite: #0EB159;
    --color-pixie-green: #aed2ab;
    --color-willow-brook: #dcecdc;

    /* Red program colors - sundays */
    --color-amaranth: #ee2e53;
    --color-wewak: #F2ABA3;
    --color-azalea: #F9DCD7;
  
    /* Typography */
    --base-font-family: 'Open sans', 'Calibri', 'sans-serif';
    --base-font-size: 1.3em;
    --base-font-light-weight: 300;
    --base-font-regular-weight: 500;
    --heading-font-weight: 700;
    --heading-font-size: 2em;
  }
  